header h1 {
    background: #BE21CF;
    background: -webkit-linear-gradient(to right, #BE21CF 29%, #CFBF32 80%);
    background: -moz-linear-gradient(to right, #BE21CF 29%, #CFBF32 80%);
    background: linear-gradient(to right, #BE21CF 29%, #CFBF32 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .result{
    text-align: center;
    
} */
.sensors {
    background: #c5b7b78c;
    height: 30px;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left:  8px;
    padding-right:  8px;
    border-radius: 15px;
    margin-bottom: 5px;
}